<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  {% load static %}
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="">
    <meta name="description" content="">

<!-- FAVICONS ICON -->
    <link rel="icon" href="{% static 'images\favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images\favicon.png' %}">

<!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BOOTSTRAP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <!-- FONTAWESOME STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome/css/font-awesome.min.css' %}">


    <!-- OWL CAROUSEL STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">
    <!-- BOOTSTRAP SLECT BOX STYLE SHEET  -->
    <link rel="stylesheet" type="text/css" href="{% static 'css\bootstrap-select.min.css' %}">
    <!-- BOOTSTRAP SLIDER STYLE SHEET  -->
    <link rel="stylesheet" type="text/css" href="{% static 'css\bootstrap-slider.min.css' %}">

    <!-- BOOTSTRAP DATETIMEPICKER STYLE SHEET  -->
    <link rel="stylesheet" type="text/css" href="{% static 'css\bootstrap-datetimepicker.css' %}">

    <!-- MAGNIFIC POPUP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css\magnific-popup.min.css' %}">
    <!-- LOADER STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css\loader.min.css' %}">
    <!-- MAIN STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css\style.css' %}">
    <!-- FLATICON STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'css\flaticon.min.css' %}">

    <!-- CLUSTER CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css\cluster-css.css' %}">

    <link rel="stylesheet" href="{% static 'css\dropzone.css' %}">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"> -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
    {% endif %}


<title>Add</title>
 <style media="screen">
    .btn-ph{
      background-color: #da552f !important;
    }
  </style>
  <script type="text/javascript">
    $.ajaxSetup({type: 'POST',headers: { "cache-control": "no-cache" }});
  </script>
</head>
<body class="bg-light">
  
<main role="main">
  <div class="container">

    <div class="my-5 py-5 d-flex flex-row justify-content-center rounded border shadow">

      <form class="w-75" action="{% url 'add' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!--script type="text/javascript">
          function getSlug(){
            var val = document.getElementById("title").value.replace(/[^a-zA-Z ]/g, "");
            document.getElementById("slug").value = val.toLowerCase().split(" ").join("-");
          }
        </script>-->
        <h2 class="text-center text-primary">Add </h2>
        <hr>

        <div class="form-group">
          <label for="url"> Email: </label>
          <input id="url" class="form-control" type="email" name="email">
        </div>

        <div class="form-group">
          <label for="title">Title : </label>
          <input id="title" class="form-control" type="text" name="title" onkeyup="getSlug()" maxlength="255">
        </div>

        <div class="form-group">
          <label for="title">Display name : </label>
          <input id="Display name" class="form-control" type="text" name="display"  maxlength="255">
        </div>

       <!-- <div class="form-group">
          <label for="slug">Slug : </label>
          <input id="slug" class="form-control" type="text" name="slug" maxlength="50">
          <small class="text-muted">Best practice is to not change slug unless its giving an error.</small>
        </div>-->

        <div class="form-group">
         <label for="category">Choose a category:</label>
          <select id="category" name="category">
            <option value="DOG">Dog</option>
            <option value="CAT">Cat</option>
            <option value='OTHERS'>Others</option>
            <!-- <option value="Mehendi_artist">Mehendi artist</option>
            <option value="tattoo_artist">Tattoo artist</option>-->
          </select>
        </div>


        <div class="form-group">
          <label for="owner"> Owner name : </label>
          <input id="owner" class="form-control" type="text" name="owner"  maxlength="255">
        </div>
        <div class="form-group">
          <label for="address">Address : </label>
          <input id="address" class="form-control" type="text" name="address"  maxlength="255">
        </div>
        <div class="form-group">
          <label for="number">Phone number : </label>
          <input id="number" class="form-control" type="number" name="number"  maxlength="10">
        </div>

        <!--<div class="form-group">
          <div class="custom-file">
            <input id="img" class="custom-file-input" type="file" name="back_image">
            <label class="custom-file-label" for="img">Add backgroud Image</label>
          </div>
        </div>

         <!--<div class="form-group">
          <div class="custom-file">
            <input id="ico" class="custom-file-input" type="file" name="icon">
            <label class="custom-file-label" for="ico">Add Icon</label>
          </div>
        </div>-->

        <div class="form-group">
          <label for="desc">Description : </label>
          <textarea id="desc" class="form-control" name="desc" rows="8" cols="80"></textarea>
        </div>

         <!--<div class="form-group">
          <label for="url"> Business Whatsapp link: </label>
          <input id="url" class="form-control" type="text" name="whatsapp">
        </div>
         <div class="form-group">
          <label for="url"> Twitter: </label>
          <input id="url" class="form-control" type="text" name="twitter">
        </div>
         <div class="form-group">
          <label for="url"> Instagram: </label>
          <input id="url" class="form-control" type="text" name="instagram">
        </div>
         <div class="form-group">
          <label for="url"> Facebook: </label>
          <input id="url" class="form-control" type="text" name="facebook">
        </div>
         <!--<div class="form-group">
          <label for="url"> Email: </label>
          <input id="url" class="form-control" type="email" name="email">
        </div>

        <div class="form-group">
          <label for="votes">Votes : </label>
          <input id="votes" class="form-control" type="number" min="1" max="1" name="votes" value="0" readonly>
        </div>-->

        <div class="form-group">
          <div class="custom-file">
            <input id="img" class="custom-file-input" type="file" name="imageone">
            <label class="custom-file-label" for="img">Add Image for gallery</label>
          </div>
        </div>

        <!--<div class="form-group">
          <div class="custom-file">
            <input id="img" class="custom-file-input" type="file" name="imagetwo">
            <label class="custom-file-label" for="img">Add Image for gallery</label>
          </div>
        </div>

        <div class="form-group">
          <div class="custom-file">
            <input id="img" class="custom-file-input" type="file" name="imagethree">
            <label class="custom-file-label" for="img">Add Image for gallery</label>
          </div>
        </div>

        <div class="form-group">
          <div class="custom-file">
            <input id="img" class="custom-file-input" type="file" name="imagefour">
            <label class="custom-file-label" for="img">Add Image for gallery</label>
          </div>
        </div>-->



        <input class="btn btn-primary float-right" type="submit" value="Add">
      </form>
    </div>

  </div>
</main>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>